/**
 *
 */
   
/* set color for background of all pages */

body{
	
	background-color:#FFFFFF;
}

/* style breadcrumbs, contact, and copyright */

.breadcrumb {

	background-color: #F5F5F5;
	border: none;
}

/* set color of hyperlinks in breadcrumbs, contact, and copyright */

.breadcrumb a {

	color:#1A98DB;
}

/* style contact link border */

html.js body.html div.main-container div.row-fluid section.span12 div#breadcrumb-container div#page-site-links-container div#contact-container.breadcrumb{
	
	border-top-right-radius:0px;
	border-bottom-right-radius:0px; 
}

/* style copyright link broder */

html.js body.html div.main-container div.row-fluid section.span12 div#breadcrumb-container div#page-site-links-container div#copyright-container.breadcrumb{
	
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}

/* style footer */

#block-menu-menu-footer-menu {
	
	border:none;
	width:100%;
	background-image: linear-gradient(to bottom, #545454, #333333);
	margin-top:1%;
}

/* set color of footer hyperlinks */

#block-menu-menu-footer-menu a {
	
	color:#DDDDDD;
}

/* style blog RSS and contact blocks */

.main-container section.block-aggregator, .main-container section.block-nodeblock {
	
	background-color:#F5F5F5;
	border-radius:4px;
	width:44%;
	margin-bottom: 10px;
	padding:1%;
	margin-left:1%;
	margin-right:1%;
}

/* placement of blog RSS block */

html.js body.html div.main-container div.row-fluid section.span12 section#block-aggregator-feed-2.block {
	
	float: left;
}

/* placement of contact block */

html.js body.html div.main-container div.row-fluid section.span12 section#block-nodeblock-7.block{
	
	float:right;
}

/* reset margins above and to left of DSS logo in navbar */
.navbar .logo {
	
	margin-top:2px;
	margin-left:0%;
	margin-right:25px;
}

/* style LC log-in logo and link */

#shib_login_url {
	
    margin-top: 1px;
}

.hybridauth-icon-hybridauth-32-lafayette {

    margin-left: 2px;
}

#shib_login_url a {

    margin-left: 2px;
    font-weight: inherit;
}

/* set top margin of nav icons */

div.modal-container.container {

    margin-top: 3px;
}

/* fix width and top margin of menu nav icon */

#menu-toggle-icon {
    margin-top: 3px;
    width: inherit;
}

/* set font-color of log out text */

html.js body#thmr_undefined.html header#navbar.navbar div.navbar-inner div.menu-toggle-container div.auth-share-container div.auth-container div#auth-control-container.modal-control-container div.auth-link a {
	
    color:#DDDDDD;
}

/**
 * @author griffinj
 * Resolving DSSSM-308
 */

body {

    padding-left: 0px;
    padding-right: 0px;
}

body > * {

    padding-left: 20px;
    padding-right: 20px;
}

header {

    padding-left: 0px;
    padding-right: 0px;
}